// <576px
@media (max-width: 575.98px) {
  :root {
    --fontSizeD2RentPrice: 11.7px;
    --fontSizeMain: 13.3px;
    --fontSizeSelected: 13.3px;
    --fontSizeTextHigh: 13.3px;
    --fontSizeButtons: 16.5px;
    --fontSizeHeadlineLow: 13.3px;
    --fontSizeHeadline: 22px;
    --fontSizeHeaderLogo: 13.3px;
  }

  //-----------------------------------------------------
  //HEADER:
  .header {
    align-items: flex-end;
    background-color: var(--bgHeader);
    border: 2px solid var(--bgD4Hr);
    flex-direction: column;
    font-size: var(--fontSizeTextHigh);
    font-weight: bold;
    grid-column: 1 / 13;
    height: auto;
    justify-content: center;
    padding-bottom: 1em;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1em;
    position: sticky;
    top: 0;
    z-index: 999;
  }

  .header .headerBlock {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .header .headerBlock > .logo {
    display: none;
  }

  .menu {
    align-items: center;
    display: flex;
    font-size: 2em;
  }

  .menu > .hamburgerButton {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    height: 0.9em;
    justify-content: space-between;
    margin-right: 20px;
    width: 1em;
  }

  .menu > .hamburgerButton > hr {
    background-color: var(--bgColorMain);
    border: 0;
    height: 4px;
    margin: 0;
    padding: 0;
    width: 0.95em;
  }

  .header .nav {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    margin-right: 20px;
    width: auto;
  }

  .header .nav ul.navList {
    flex-direction: column;
    align-items: flex-end;
  }

  .header .nav .ref {
    font-size: 1.5em;
    line-height: 1.7em;
    width: auto;
    padding: 0;
  }

  .header .phone {
    // font-size: 0.75em;
    margin-left: 3em;
    // max-height: 0;
    overflow: hidden;
    padding: 0;
    transition: max-height 0.3s ease;
    width: auto;
  }

  //-----------------------------------------------------
  // BODY:

  // 1.1
  .submitYourApplication_grid .leftCircle {
    filter: blur(2.5px);
  }

  .submitYourApplication_grid {
    height: auto;
  }
  .submitYourApplication_grid .merc {
    grid-column: 4/10;
    height: 42vw;
  }
  .submitYourApplication_grid .submit {
    grid-column: 2/12;
    text-align: center;
  }

  .submitYourApplication_grid .text {
    text-align: left;
  }

  .submitYourApplication_grid .btnSubmitYourApp {
    text-align: center;
  }

  // 1.2
  .ourAutopark_grid .carsRent_grid {
    grid-template-columns: repeat(auto-fit, 100%);
  }

  .ourAutopark_grid .navigation {
    flex-wrap: wrap;
    grid-column: 2 / 12;
    justify-content: center;
    line-height: 2em;
  }

  .ourAutopark_grid .navigation > div {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  // 1.3
  .additionalService_grid .block_grid {
    grid-template-rows: 100px auto auto;
  }

  .additionalService_grid .service_grid span.orange {
    margin-bottom: 0.5em;
    margin-top: 0.92em;
  }

  .additionalService_grid .service_grid span {
    margin-bottom: 0.92em;
    margin-top: 0.5em;
  }

  // 1.4
  .rentRules_grid .rule {
    grid-column: 2 / 12;
  }

  // 1.5
  .aboutUs_grid .aboutInfo_grid {
    grid-column: 1 / 13;
  }

  // 1.6
  .contacts_grid .contactsContent_grid {
    grid-column-gap: 3em;
    grid-column: 2 / 12;
  }
  .contacts_grid .contactsText {
    margin-left: 0;
  }

  // 1.7
  .rentDate {
    grid-column: 1 / 17;
  }

  .returnDate {
    grid-column: 1 / 17;
    justify-self: start;
  }

  .includeNavigation {
    grid-column: 1 / 17;
  }

  .includeChair {
    grid-column: 1 / 17;
  }

  .includeDriver {
    grid-column: 1 / 17;
  }
  .total {
    grid-column: 1 / 17;
  }
  .total > div > .sectionSumm {
    width: 25vw;
  }
}
