@media (min-width: 992px) and (max-width: 1199.98px) {
  :root {
    --fontSizeD2RentPrice: 11.7px;
    --fontSizeMain: 13.3px;
    --fontSizeSelected: 16.7px;
    --fontSizeTextHigh: 17.8px;
    --fontSizeButtons: 20px;
    --fontSizeHeadlineLow: 23.3px;
    --fontSizeHeaderLogo: 29.2px;
    --fontSizeHeadline: 40px;
  }
}
