.sectionB {
  display: grid;
  grid-column: 2 / 12;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  margin-top: -45px; // высота изображения
  text-align: center;

  .sbBlock {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .bottomHeader {
    font-size: var(--fontSizeBottomHeader);
    margin: 1em;
    font-weight: bold;
    line-height: 1.5em;
  }
}
