.sectionF {
  grid-column: 2 / 12;
  width: 100%;

  .submitBtn {
    display: block;
    margin: 3.5em auto;
  }
}

.sliderContainerFMobile {
  display: none;
}

// общие стили для обоих контейнеров:
.sliderContainerF,
.sliderContainerFMobile {
  margin-bottom: 0.7em;
  margin-top: 2.5em;
  padding: 0 4em;
  position: relative;
  z-index: 0;

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;
  }
}

// https://stackoverflow.com/questions/29467660/how-to-stretch-children-to-fill-cross-axis/29474225
