*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited,
a:active {
  color: inherit;
}

html {
  color: var(--fontColorMain);
  font-family: "Jost";
  font-size: var(--fontSizeBasic);
}

body {
  // Все св-ва у которых НЕ будет установлен font-size будут наследовать значение от родительского элемента
  font-size: 16rem; // Inherited	yes // https://developer.mozilla.org/en-US/docs/Web/CSS/font-size
}

button,
hr {
  border: none;
}

input,
button,
button:active,
button:focus {
  outline: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

//=========================================================

[class*="_grid"] {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
}

//=========================================================

// .swiper-container {
//   width: 100%;
// }
