header {
  background-color: var(--bgHeader);
  font-size: var(--fontSizeHeader);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

// #Основной раздел:
.headerMenu {
  align-items: center;
  display: flex;
  justify-content: center;
  line-height: 1.5em;
  font-weight: 500; // medium

  > .refWrapper {
    margin: 0 1em;
  }

  .hoverUnderline {
    // время transitionov суммируется, т.е. данный transition складывается с transition из _b-header.scss
    // к примеру transition-property color 0.5s будет складыватся с _b-header.scss transition-property color 1s, итого будет 1,5s
    cursor: pointer;
    display: inline-block;
    padding-bottom: 1.2em;
    position: relative;
  }

  .hoverUnderline:before,
  .hoverUnderline:after {
    background-color: var(--bgUnderline);
    bottom: 0;
    content: "";
    height: 4rem;
    left: 0;
    position: absolute;
    transition: background-color 0.4s linear;
    width: 100%;
  }

  .hoverUnderline:hover:before,
  .hoverUnderline:hover:after {
    background-color: var(--bgUnderlineHover);
  }

  .pushTogether {
    // height некорректно работает с align-items: stretch;
    display: flex;
    margin-left: 5em;
    min-height: 6em;

    > div:nth-of-type(1) {
      background-color: var(--bgHeaderDiv1);

      span {
        font-weight: 800;
      }
    }

    > div:nth-of-type(2) {
      background-color: var(--bgHeaderDiv2);
      text-align: center;

      span {
        font-size: var(--fontSizeTel);
      }
    }

    .alignText {
      align-items: center;
      color: var(--fontColorDiv);
      display: flex;
      padding: 0 1.5em;
      justify-content: center;
    }
  }
}

// #Выпадающее меню - навигация в шапке:
.dropdownMenu {
  align-items: center;
  display: none;
  justify-content: space-between;
  padding: 0.7em;
  font-size: var(--fontSizeDropdown);

  img {
    width: 2em;
    height: 2em;
    padding: 0 0.25em;
  }

  .showMenu {
    cursor: pointer;
    height: 27px;
    margin-left: 0.5em;
    position: relative;
    width: 40px;

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      span {
        background-color: var(--bgColorClsDropdown);
        display: block;
        transition: 0.4s linear;
        width: 100%;
        height: 5px; // em считает некорректно
      }
    }
  }

  .hideMenu {
    justify-content: center;

    span:nth-of-type(1) {
      transform: rotate(45deg);
      transition: 0.4s linear;
      position: absolute;
      left: 0;
      top: calc(1.6em / 2 - 0.16em / 2);
    }

    span:nth-of-type(2) {
      width: 0;
      transition: 0.4s linear;
      left: 0;
      position: absolute;
      top: 11px;
    }

    span:nth-of-type(3) {
      transform: rotate(-45deg);
      transition: 0.4s linear;
      position: absolute;
      left: 0;
      top: calc(1.6em / 2 - 0.16em / 2);
    }
  }
}
