footer {
  grid-column: 1 / 13;
}

.footerA_grid {
  // http://gearmobile.github.io/photoshop/photoshop-convert-gradient-to-css-rules/
  // https://graphicdesign.stackexchange.com/questions/39230/how-to-export-a-gradient-overlay-to-css3-styles-in-photoshop-cc
  background-image: linear-gradient(to top, rgb(153, 184, 53) 0%, rgb(192, 184, 65) 24%, rgb(230, 183, 77) 76%);
  color: var(--fontColorFooterA);
  font-size: var(--fontSizeFooterANormal);
  justify-content: space-between;
  line-height: 2em;
  padding: 2.5em 0;
  text-decoration: underline;

  div > span {
    font-size: var(--fontSizeFooterABig);
    font-weight: 500;
  }

  div:first-child {
    grid-column: 2 / 7;
  }

  div:last-child {
    grid-column: 7 / 12;
    text-align: right;
  }
}

.footerB_grid {
  grid-column: 2 / 12;
  background-color: var(--bgFooterB);
  padding: 2em 0;
  color: var(--fontColorFooterB);
  font-size: var(--fontSizeFooterB);
  font-weight: 500;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footerDocs {
    grid-column: 2 / 5;
  }

  .footerSocial {
    grid-column: 6 / 8;
    justify-content: space-evenly;
  }

  .footerContacts {
    grid-column: 9 / 12;

    div:first-child span:nth-of-type(1) {
      font-weight: 800;
    }

    div:last-child {
      text-align: center;

      span:nth-of-type(1) {
        font-size: var(--fontSizeFooterBTel);
      }
    }
  }
}
