.popup {
  background-color: rgba(100, 100, 100, 0.6);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%; // 83.3%
  height: 100%;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.7s;

  .popupBody {
    display: flex;
    justify-content: center;
    min-height: 100%;
    align-items: center;

    .popupContent {
      color: var(--fontColorPopup);
      background-color: #fff;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8); // rgb(255, 255, 255);
      width: 60%; // 83.3%
      position: relative;
      padding: 2em 5.6% 5.6%;
      border-radius: 20px;
      transform: translateY(-100%);
      transition: 0.7s;

      .closePopup {
        cursor: pointer;
        position: absolute;
        right: 1.5em;
        top: 1.5em;
      }

      .popupDate {
        text-align: center;

        .year {
          font-size: var(--fontSizePopupYear);
          font-weight: 500;

          span {
            margin: 0 0.5em;
          }

          .underlinePast,
          .underlineCurrent {
            padding-bottom: 0.5em;
            position: relative;
            display: inline-block;
            cursor: pointer;
            &:after {
              bottom: 0;
              height: 4rem;
              left: 0;
              position: absolute;
              width: 100%;
              content: "";
            }
          }

          .underlinePast:after {
            background-color: var(--fontColorPopup);
          }

          .underlineCurrent:after {
            background-color: var(--bgPopupCurrent);
          }
        }

        .month {
          display: flex;
          font-size: var(--fontSizePopupMonth);
          justify-content: center;
          margin-top: 1.5em;
          margin-bottom: 2em;

          span {
            margin: 0 0.65em;
            cursor: pointer;
          }

          .dot {
            display: inline-block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: var(--fontColorPopup);
          }

          .dotCurrent span {
            background-color: var(--bgPopupCurrent);
          }
        }
      }

      .galleryTopPopup {
        margin-bottom: 1em;
      }
    }

    .thumbsWrapperPopup {
      position: relative;
      padding: 0 4em;

      .swiper-button-next {
        right: 0;
        top: 60%;
      }

      .swiper-button-prev {
        left: 0;
        top: 60%;
      }

      .swiper-slide {
        opacity: 0.5;
      }

      .swiper-slide-thumb-active {
        opacity: 1;
      }
    }
  }
}

.popup.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  z-index: 2;

  .popupContent {
    transform: translateY(0);
  }
}

body.lock {
  overflow: hidden;
}

#popupDocs {
  line-height: 1.7em;

  .docsHeader {
    font-weight: bold;
    line-height: 2em;
  }

  .docsDot {
    background-color: var(--fontColorPopup); // fontColorPopup
    border-radius: 50%;
    display: inline-block;
    height: 0.3em;
    vertical-align: middle;
    width: 0.3em;
  }
}
