*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited,
a:active {
  color: inherit;
}

html {
  // font-family: "Jost";
  color: var(--col-main);
  font-size: var(--fs-basic);
}

body {
  // Все св-ва у которых НЕ будет установлен font-size будут наследовать значение от родительского элемента
  // Inherited	yes // https://developer.mozilla.org/en-US/docs/Web/CSS/font-size
  font-size: var(--fs-main);
}

button,
hr {
  border: none;
}

input,
button,
button:active,
button:focus {
  outline: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

//-------------------------------------

[class*="_grid"] {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
}

//-------------------------------------

.hidden {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  min-height: 0;
}

.display-none {
  display: none;
}

//-------------------------------------

.radio-btn-container,
.checkbox-container {
  font-size: 14rem;
  line-height: 2.6em;
  display: flex;
}

.radio-btn-container label,
.checkbox-container label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radio-btn-container input[type="radio"],
.checkbox-container input[type="checkbox"] {
  display: none;
}

.radio-btn-container label .radio-btn-container__dot-container,
.checkbox-container label .checkbox-container__checkmark-container {
  align-items: center;
  background-color: rgba(46, 46, 51, 0.05);
  border-radius: 50%;
  border: 1px solid rgba(46, 46, 51, 0.05);
  display: inline-flex;
  flex-shrink: 0;
  height: 1.5em;
  justify-content: center;
  margin-right: 0.7em;
  padding: 0 0 0 0px;
  width: 1.5em;
}

.radio-btn-container label .radio-btn-container__dot {
  width: 0.5em;
  height: 0.5em;
  // background-color: var(--bg-btn);
  border-radius: 50%;
  display: none;
}

.checkbox-container label .checkbox-container__checkmark {
  // color: var(--bg-btn);
  font-weight: bold;
  display: none;
  // font-family: "FontAwesome", "SF";
}

.radio-btn-container input[type="radio"]:checked + label .radio-btn-container__dot-container,
.checkbox-container input[type="checkbox"]:checked + label .checkbox-container__checkmark-container {
  // border: 2px solid var(--bg-btn);
  background-color: #fff;
}

.radio-btn-container input[type="radio"]:checked + label .radio-btn-container__dot,
.checkbox-container input[type="checkbox"]:checked + label .checkbox-container__checkmark {
  display: block;
}

//-------------------------------------

body.lock {
  overflow: hidden;
}

.popup {
  background-color: rgba(100, 100, 100, 0.6);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%; // 83.3%
  height: 100%;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.7s;
  z-index: 2;
}

.popup__body {
  display: flex;
  justify-content: center;
  min-height: 100%;
  align-items: center;
  padding-top: 100rem;
}

.popup__content {
  width: 100%; // 83.3%
  position: relative;
  transform: translateY(-100%);
  transition: 0.7s;
}

.close-popup {
  cursor: pointer;
  position: absolute;
  right: 0.75em;
  top: 0.75em;
  font-size: 32rem;
}

.popup.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.popup.open .popup__content {
  transform: translateY(0);
}

.swiper-container {
  overflow: hidden;
}

//-------------------------------------

.btn-show {
  cursor: pointer;
  height: 1.6em;
  position: relative;
  width: 1.6em;
  span {
    background-color: var(--col-main);
    display: block;
    height: 0.1em; // !!!
    transition: 0.4s linear;
    width: 100%;
    height: 2px; // em считает некорректно
  }
  span:nth-of-type(1) {
    left: 0;
    position: absolute;
    top: 0;
  }
  span:nth-of-type(2) {
    left: 0;
    position: absolute;
    top: 50%; // !!!
  }
  span:nth-of-type(3) {
    top: 100%; // !!!
    left: 0;
    position: absolute;
  }
}

.btn-hide {
  justify-content: center;
  span:nth-of-type(1) {
    transform: rotate(45deg);
    transition: 0.4s linear;
    position: absolute;
    left: 0;
    top: calc(1.6em / 2 - 0.16em / 2); // !!!
  }
  span:nth-of-type(2) {
    width: 0;
    transition: 0.4s linear;
  }
  span:nth-of-type(3) {
    transform: rotate(-45deg);
    transition: 0.4s linear;
    position: absolute;
    left: 0;
    top: calc(1.6em / 2 - 0.16em / 2); // !!!
  }
}

//-------------------------------------
